@using Shop2City.WebHost.ViewModels.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<div class="container my-4">
    <!-- Breadcrumb Start -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a>
            </li>
            <li class="breadcrumb-item">حساب کاربری</li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی کلمه عبور</li>
        </ol>
    </nav>
    <!-- Breadcrumb End -->

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form asp-action="ForgotPassword" method="post" class="card p-4 shadow-sm">
                <input type="hidden" id="toastrError" value="@TempData["ToastrError"]" />
                <h4 class="mb-4 text-center">ورود به حساب کاربری</h4>

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">شماره همراه</label>
                    <input type="text"
                           asp-for="UserName"
                           class="form-control form-control-md d-md-block"
                           id="userName"
                           pattern="[0-9]*"
                           inputmode="numeric"
                           placeholder="شماره همراه خود را وارد کنید">
                    <div asp-validation-summary="All" class="text-danger mt-1"></div>
                </div>
                <button type="submit" class="btn btn-success btn-md btn-lg w-100 d-md-block" onclick="return validateData();">
                    بازیابی کلمه عبور
                </button>
            </form>
        </div>
    </div>
</div>
