@using Shop2City.WebHost.ViewModels.Account
@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<div class="container">
    <!-- Breadcrumb Start-->
    <ul class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i></a></li>
        <li aria-current="page">بازیابی کلمه عبور</li>
    </ul>
    <!-- Breadcrumb End-->
    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9">
            <div class="row" id="content">
                <div class="col-sm-6">
                </div>
                <form asp-action="ForgotPassword" method="post">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <i class="glyphicon glyphicon-user"></i>
                            <label class="control-label">شماره همراه را وارد کنید</label>
                            <input type="text" asp-for="UserName" class="form-control" pattern="[0-9]*" inputmode="numeric" />

                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                        <input class="btn btn-success btn btn-block" type="submit" value="تایید" />
                    </div>
                </form>
            </div>
        </div>
        <!--Middle Part End -->
    </div>

</div>