
@{
    ViewData["Title"] = "پرداخت ناموفق";
}
<div class="container">

<div class="card">
    <div class="icon">
        <i class="bi bi-x-circle-fill"></i>
    </div>
    <h2 class="mb-3">پرداخت ناموفق بود</h2>
    <p class="mb-4">متأسفانه پرداخت شما انجام نشد. لطفاً دوباره تلاش کنید یا با پشتیبانی تماس بگیرید09376421351 .</p>
</div>
</div>
