@{
    ViewData["Title"] = "خانه";
}

<main>
    <partial name="_ContactCard"/>

        <section class="py-3 bg-danger text-white">
        <div class="text-center">
            <p class="fs-5 fs-md-5 fw-semibold mb-0">
                برای سفارش پرده، به اندازه دلخواه کلیک کنید.
            </p>
        </div>
    </section>


    <section class="container">
        <h5 class="position-relative d-inline-block pt-5 pb-2 mb-3">
            پرده توری یک لایه
            <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
        </h5>
        @await Component.InvokeAsync("CategoryTooriOneLayerComponent")

        <h5 class="position-relative d-inline-block pb-2 mb-3">
            پرده توری دو لایه
            <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
        </h5>
        @await Component.InvokeAsync("CategoryTooriTwoLayerComponent")

        <h5 class="position-relative d-inline-block pb-2 mb-3">
            پرده طلقی ایرانی
            <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
        </h5>
        @await Component.InvokeAsync("CategoryIraniComponent")

        <h5 class="position-relative d-inline-block pb-2 mb-3">
            پرده طلقی خارجی
            <span class="position-absolute start-0 bottom-0 w-100 border-bottom border-2 border-danger"></span>
        </h5>
        @await Component.InvokeAsync("CategoryKharejiComponent")
    </section>
</main>