@using MadWin.Application.Services;
@inject IFactorService _factorService;
@inject IOrderService _orderService;
@inject IUserService _userService;
@inject ISmsSenderService _smsSenderService;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    ViewData["Title"] = "صفحه مدیریت";
    var countOrders = await _orderService.CountOrders();
    var countFactors = await _factorService.CountFactors();
    var countSmss = await _smsSenderService.CountSendSms();
    var countUserActive = await _userService.CountUserActive();
}

<div class="container my-4">
    <div class="row g-4">
        <!-- کارت ۱ -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm bg-light border rounded">
                <div class="card-body text-center">
                    <h6 class="mb-3">تعداد کل سفارش‌ها</h6>
                    <span class="badge bg-primary fs-6">@countOrders عدد</span>
                </div>
            </div>
        </div>

        <!-- کارت ۲ -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm bg-light border rounded">
                <div class="card-body text-center">
                    <h6 class="mb-3">تعداد کل فاکتورها</h6>
                    <span class="badge bg-primary fs-6">@countFactors عدد</span>
                </div>
            </div>
        </div>

        <!-- کارت ۳ -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm bg-light border rounded">
                <div class="card-body text-center">
                    <h6 class="mb-3">تعداد کل پیامک‌های ارسالی</h6>
                    <span class="badge bg-primary fs-6">@countSmss عدد</span>
                </div>
            </div>
        </div>

        <!-- کارت ۴ -->
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card shadow-sm bg-light border rounded">
                <div class="card-body text-center">
                    <h6 class="mb-3">تعداد مشتری‌های فعال</h6>
                    <span class="badge bg-primary fs-6">@countUserActive عدد</span>
                </div>
            </div>
        </div>
    </div>
</div>

