<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>فروشگاه اینترنتی مادوین - @ViewData["Title"]</title>
    <partial name="_CSS" />
</head>
<body class="bg-light">
    <header>
        <partial name="_Nav" />
    </header>
    <main class="container">
        <div class="row">

            <partial name="_SideBar"/>
            <div class="col-9">
                @RenderBody()
            </div>
        
        </div>
    </main>
    
    <partial name="_Footer" />
    <partial name="_JS" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
