<section class="banner-top d-flex align-items-center py-3">
@*     <div class="container text-center">
        <p class="fs-5 mt-2 fw-semibold">
            برای مشاوره و خرید با شماره‌های زیر تماس بگیرید:
        </p>

        <div class="row justify-content-center g-4">
            <!-- شماره‌ها -->
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start bg-white rounded shadow-sm p-3">
                    <i class="fas fa-mobile-alt text-primary fs-4 me-3"></i>
                    <div class="fw-bold fs-5 fs-md-6">09183176017</div>
                </div>
            </div>
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start bg-white rounded shadow-sm p-3">
                    <i class="fas fa-mobile-alt text-primary fs-4 me-3"></i>
                    <div class="fw-bold fs-5 fs-md-6">09180123431</div>
                </div>
            </div>
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <div class="d-flex align-items-center justify-content-center justify-content-md-start bg-white rounded shadow-sm p-3">
                    <i class="fas fa-mobile-alt text-primary fs-4 me-3"></i>
                    <div class="fw-bold fs-5 fs-md-6">09180123432</div>
                </div>
            </div>
        </div>
    </div> *@
</section>


