<footer class="bg-primary text-white mt-auto">
        <div class="container py-5 px-3 px-md-4" style="max-width: 1200px;">
            <div class="row gy-4 gx-3 gx-md-4 justify-content-between text-center text-md-start">

                <!-- درباره -->
                <div class="col-12 col-md-3">
                    <h5 class="text-info border-bottom border-2 border-danger pb-2 mb-3 d-inline-block">
                        ماد وین
                    </h5>
                    <p class="small mb-0 text-justify">
                        فروشگاه ماد وین عرضه‌کننده انواع پرده‌های توری و طلقی آماده در طرح‌ها و اندازه‌های متنوع.
                        هدف ما زیبایی، دوام و رضایت مشتری در کنار ارائه محصولاتی باکیفیت است.
                    </p>
                </div>

                <!-- آدرس -->
                <div class="col-12 col-md-3">
                    <h5 class="text-info border-bottom border-2 border-danger pb-2 mb-3 d-inline-block">
                        آدرس
                    </h5>
                    <ul class="list-unstyled mb-0">
                        <li><i class="fa fa-map-marker p-2"></i>همدان - میدان امام حسین - ابتدای 24 متری صنعت(ابتدای بلوار شهید رئیسی)</li>
                        <li><i class="fa fa-mobile-phone p-2"></i>09180580270</li>
                    </ul>
                </div>

                <!-- ساعات کاری -->
                <div class="col-12 col-md-2">
                    <h5 class="text-info border-bottom border-2 border-danger pb-2 mb-3 d-inline-block">
                        ساعات کاری
                    </h5>
                    <ul class="list-unstyled mb-0">
                        <li><i class="fa fa-calendar p-2"></i>شنبه تا پنج‌شنبه</li>
                        <li><i class="fa fa-clock p-2"></i>صبح : 8:30 - 12:30</li>
                        <li><i class="fa fa-clock p-2"></i>عصر : 16 - 19</li>
                    </ul>
                </div>

                <!-- لینک‌ها -->
                <div class="col-12 col-md-2">
                    <h5 class="text-info border-bottom border-2 border-danger pb-2 mb-3 d-inline-block">
                        لینک‌های مفید
                    </h5>
                    <ul class="list-unstyled mb-0">
                        <li><a asp-controller="Account" asp-action="Register" class="text-white text-decoration-none">ثبت نام</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="text-white text-decoration-none">ورود</a></li>
                        <li><a asp-controller="Orders" asp-action="CreateOrder" class="text-white text-decoration-none">ثبت سفارش</a></li>
                    </ul>
                </div>

                <!-- اینماد -->
            <!-- اینماد -->
            <div class="col-12 col-md-2 text-center text-md-start">
                <h5 class="text-info border-bottom border-2 border-danger pb-2 mb-3 d-inline-block">
                    نماد اعتماد
                </h5>

                <!-- فقط لوگوی اینماد -->
                <div class="mt-3">
                    <a referrerpolicy="origin" target="_blank"
                       href="https://trustseal.enamad.ir/?id=513249&Code=tjxZUkhn6QYgrK4lgsMhFDlewld5dRER">
                        <img referrerpolicy="origin"
                             src="https://trustseal.enamad.ir/logo.aspx?id=513249&Code=tjxZUkhn6QYgrK4lgsMhFDlewld5dRER"
                             alt="نماد اعتماد الکترونیکی"
                             style="cursor:pointer; width:100px; height:auto;">
                    </a>
                </div>
            </div>


            </div>
        </div>

        <!-- پایین فوتر -->
        <div class="footer-bottom bg-dark text-center py-3 mt-4" style="font-family: 'Tahoma', sans-serif;">
            <p class="mb-0 small">© 2025 - تمامی حقوق معنوی مربوط به فروشگاه اینترنتی ماد وین است.</p>
        </div>
</footer>