@model SideBarUserPanelDto
@if (Model == null)
{
    return;
}

<aside id="sidebar" class="col-md-3 d-none d-md-block bg-light p-3 rounded">
    <div class="text-center mb-4">
        <img src=@Model.ImagePath
             alt="عکس پروفایل"
             width="120"
             class="img-thumbnail mb-3" />

        <h5 class="mb-1">@Model.FullName</h5>
        <small class="text-muted">
            عضویت: @Model.CreatedAt.ToShamsi()
        </small>
    </div>

    <hr />

    <h3 class="h5 mb-3">میز کار</h3>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-area="UserPanel"
               asp-controller="Orders"
               asp-action="Index">
                لیست سفارش‌ها
            </a>
        </li>

        <li class="list-group-item">
            <a asp-area="UserPanel"
               asp-controller="Factors"
               asp-action="Index">
                لیست فاکتورها
            </a>
        </li>

        <li class="list-group-item">
            <a asp-controller="Account"
               asp-action="Logout"
               class="text-danger">
                خروج از حساب کاربری
            </a>
        </li>
    </ul>
</aside>
